In [1]:
# dataframe is rows and columns
#series - single column of rows

In [1]:
# without pandas dataframe is like dictionaries in plain python

Person = {'First' :'pooja',
            'Last' : 'Mahajan',
            "email" : 'pooja123@gmail.com'}

In [2]:
People =  {'First' : ['pooja'],
            'Last' : ['Mahajan'],
            "email": ['pooja123@gmail.com']}

In [3]:
people = {
    "First": ["pooja", 'gaurav', 'purv'], 
    "Last": ["patil", 'mahajan', 'mahajan'], 
    "email": ["pooja123@gmail.com", 'gaurr123@email.com', 'purv143@email.com']
}

In [4]:
#o/p ill be List and using pandas it will be in rows and columns

people['email']

['pooja123@gmail.com', 'gaurr123@email.com', 'purv143@email.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
s_df = pd.DataFrame(dict(a = [1,2]))

In [8]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [9]:
df['email']

0    pooja123@gmail.com
1    gaurr123@email.com
2     purv143@email.com
Name: email, dtype: object

In [10]:
type(df['email'])

pandas.core.series.Series

In [23]:
df[['Last', 'email']]

      Last               email
0    patil  pooja123@gmail.com
1  mahajan  gaurr123@email.com
2  mahajan   purv143@email.com

In [27]:
# which columns
df.columns

Index(['First', 'Last', 'email'], dtype='object')

In [29]:
#which rows - use loc,iloc
# iloc - access rows by integer locations,loc - access by labels(indexes) 
df.loc[0]

First                 pooja
Last                  patil
email    pooja123@gmail.com
Name: 0, dtype: object

In [30]:
# access multiple rows
df.loc[[0,1]]

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com

In [32]:
# access column using iloc

df.iloc[[0,1],2]

0    pooja123@gmail.com
1    gaurr123@email.com
Name: email, dtype: object

In [35]:
df.loc[[0,1],'email']

0    pooja123@gmail.com
1    gaurr123@email.com
Name: email, dtype: object

In [36]:
df.loc[[0,1],['email','Last']]

                email     Last
0  pooja123@gmail.com    patil
1  gaurr123@email.com  mahajan

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.iloc[0]

First                 pooja
Last                  patil
email    pooja123@gmail.com
Name: 0, dtype: object

In [16]:
df.reset_index(inplace=True)
df

   level_0  index   First     Last               email
0        0      0   pooja    patil  pooja123@gmail.com
1        1      1  gaurav  mahajan  gaurr123@email.com
2        2      2    purv  mahajan   purv143@email.com