In [10]:
people = {
    "First": ["pooja", 'gaurav', 'purv'], 
    "Last": ["patil", 'Mahajan', 'Mahajan'], 
    "email": ["pooja123@gmail.com", 'gaurr123@email.com', 'purv143@email.com']
}

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(people)

In [13]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  Mahajan  gaurr123@email.com
2    purv  Mahajan   purv143@email.com

In [17]:
df['Last']=='Mahajan'

0    False
1     True
2     True
Name: Last, dtype: bool

In [23]:
filt =( df['Last'] == 'Mahajan')

In [25]:
df[filt]

    First     Last               email
1  gaurav  Mahajan  gaurr123@email.com
2    purv  Mahajan   purv143@email.com

In [36]:
filt = (df['Last'] == 'Mahajan') | (df['First'] == 'purv')

In [38]:
df.loc[filt, 'email']

1    gaurr123@email.com
2     purv143@email.com
Name: email, dtype: object

In [40]:
# ~ gives opposite of filt
df.loc[~filt, 'email']

0    pooja123@gmail.com
Name: email, dtype: object