In [16]:
people = {
    "First": ["pooja", 'gaurav', 'purv'], 
    "Last": ["patil", 'mahajan', 'mahajan'], 
    "email": ["pooja123@gmail.com", 'gaurr123@email.com', 'purv143@email.com']
}

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame(people)

In [19]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [20]:
df['email']

0    pooja123@gmail.com
1    gaurr123@email.com
2     purv143@email.com
Name: email, dtype: object

In [21]:
 # change index and set it to 'email'
df.set_index('email', inplace=True)

In [22]:
df

                     First     Last
email
pooja123@gmail.com   pooja    patil
gaurr123@email.com  gaurav  mahajan
purv143@email.com     purv  mahajan

In [24]:
df.index

Index(['pooja123@gmail.com', 'gaurr123@email.com', 'purv143@email.com'], dtype='object', name='email')

In [25]:
df.loc['pooja123@gmail.com', 'Last']

'patil'

In [26]:
df.iloc[0]

First    pooja
Last     patil
Name: pooja123@gmail.com, dtype: object

In [27]:
df.reset_index(inplace=True)
df

                email   First     Last
0  pooja123@gmail.com   pooja    patil
1  gaurr123@email.com  gaurav  mahajan
2   purv143@email.com    purv  mahajan