In [5]:
people = {
    "First": ["pooja", 'gaurav', 'purv'], 
    "Last": ["patil", 'mahajan', 'mahajan'], 
    "email": ["pooja123@gmail.com", 'gaurr123@email.com', 'purv143@email.com']
}

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [9]:
df.columns

Index(['First', 'Last', 'email'], dtype='object')

In [10]:
df.columns = ['First_Name', 'Last_Name', 'email_address']

In [11]:
df

  First_Name Last_Name       email_address
0      pooja     patil  pooja123@gmail.com
1     gaurav   mahajan  gaurr123@email.com
2       purv   mahajan   purv143@email.com

In [12]:
df.rename(columns =  {'First_Name' : 'First Name', 'Last_Name' : 'Last Name', 'email_address' : 'Email Address'}, inplace = 'True')
df

  First Name Last Name       Email Address
0      pooja     patil  pooja123@gmail.com
1     gaurav   mahajan  gaurr123@email.com
2       purv   mahajan   purv143@email.com

In [13]:
df.columns = df.columns .str.replace(' ','_')
df

  First_Name Last_Name       Email_Address
0      pooja     patil  pooja123@gmail.com
1     gaurav   mahajan  gaurr123@email.com
2       purv   mahajan   purv143@email.com

In [14]:
df.columns = [x.lower() for x in df.columns]
df

  first_name last_name       email_address
0      pooja     patil  pooja123@gmail.com
1     gaurav   mahajan  gaurr123@email.com
2       purv   mahajan   purv143@email.com

# Upade Rows as below #########

In [15]:
df.loc[2]

first_name                    purv
last_name                  mahajan
email_address    purv143@email.com
Name: 2, dtype: object

In [16]:
# change above row data

df.loc[2] = ['Purvansh','Mahajan','purvmahajan@gmail.com']
df

  first_name last_name          email_address
0      pooja     patil     pooja123@gmail.com
1     gaurav   mahajan     gaurr123@email.com
2   Purvansh   Mahajan  purvmahajan@gmail.com

In [17]:
df.loc[2, 'last_name'] = 'mahajan'
df

  first_name last_name          email_address
0      pooja     patil     pooja123@gmail.com
1     gaurav   mahajan     gaurr123@email.com
2   Purvansh   mahajan  purvmahajan@gmail.com

In [18]:
filt = (df['email_address'] == 'purvmahajan@gmail.com')
df[filt]

  first_name last_name          email_address
2   Purvansh   mahajan  purvmahajan@gmail.com

In [19]:
filt = (df['email_address'] == 'purvmahajan@gmail.com')
df[filt]['last_name']

2    mahajan
Name: last_name, dtype: object

In [20]:
filt = (df['email_address'] == 'purvmahajan@gmail.com')
df[filt]['last_name'] = 'Patil'

<ipython-input-20-7899748e8f7b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last_name'] = 'Patil'

In [21]:
filt = (df['email_address'] == 'purvmahajan@gmail.com')
df.loc[ filt,'last_name'] = 'Patil'
df

  first_name last_name          email_address
0      pooja     patil     pooja123@gmail.com
1     gaurav   mahajan     gaurr123@email.com
2   Purvansh     Patil  purvmahajan@gmail.com

# update multiple rows

In [22]:
df['email_adderss'] = df['email_address'].str.lower()
df

  first_name last_name          email_address          email_adderss
0      pooja     patil     pooja123@gmail.com     pooja123@gmail.com
1     gaurav   mahajan     gaurr123@email.com     gaurr123@email.com
2   Purvansh     Patil  purvmahajan@gmail.com  purvmahajan@gmail.com

In [23]:
df['email_adderss'].apply(len)

0    18
1    18
2    21
Name: email_adderss, dtype: int64

In [30]:
def update_email(email_adderss):
    return email_adderss.upper()

In [31]:
df['email_adderss'].apply(update_email)

0       POOJA123@GMAIL.COM
1       GAURR123@EMAIL.COM
2    PURVMAHAJAN@GMAIL.COM
Name: email_adderss, dtype: object

In [32]:

df['email_adderss'] = df['email_adderss'].apply(update_email)

In [35]:

df['email_address'].apply(len)

0    18
1    18
2    21
Name: email_address, dtype: int64

In [36]:
df.apply(len, axis='columns')

0    4
1    4
2    4
dtype: int64

In [38]:

len(df['email_address'])

3

In [33]:
df.applymap(len)

   first_name  last_name  email_address  email_adderss
0           5          5             18             18
1           6          7             18             18
2           8          5             21             21

In [34]:

df.applymap(str.lower)

  first_name last_name          email_address          email_adderss
0      pooja     patil     pooja123@gmail.com     pooja123@gmail.com
1     gaurav   mahajan     gaurr123@email.com     gaurr123@email.com
2   purvansh     patil  purvmahajan@gmail.com  purvmahajan@gmail.com