In [4]:
people = {
    "First": ["pooja", 'gaurav', 'purv'], 
    "Last": ["patil", 'mahajan', 'mahajan'], 
    "email": ["pooja123@gmail.com", 'gaurr123@email.com', 'purv143@email.com']
}

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(people)

In [8]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [9]:
df.sort_values(by='Last', ascending=False)

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [12]:
df.sort_values(by=['Last','First'],ascending=[False, True], inplace=True)

In [13]:
df

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [14]:
df.sort_index()

    First     Last               email
0   pooja    patil  pooja123@gmail.com
1  gaurav  mahajan  gaurr123@email.com
2    purv  mahajan   purv143@email.com

In [15]:
df['Last'].sort_values()

1    mahajan
2    mahajan
0      patil
Name: Last, dtype: object